{% extends "bread/base.html" %}
{% load static compress bread_tags carbon_design_tags %}

{% block stylesheets %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "design/carbon_design/scss/globals/scss/styles.scss" %}" />
    {% endcompress %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

    {% include "carbon_design/components/header.html" %}

    {% include "carbon_design/components/side-nav.html" %}

    {# {% include "carbon_design/components/product-switcher.html" %} #}
    {# {% include "carbon_design/components/navigation-menu.html" %} #}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="bx--content">
    {% block content %}
    {% endblock content %}
    </div>

    {% compress js %}
        <script type="text/javascript" src="{% static "js/choices.min.js" %}"></script>
        <script type="text/javascript" src="{% static "design/carbon_design/js/carbon-components.min.js" %}"></script>
        <script>
            CarbonComponents.settings.disableAutoInit = false;
        </script>
    {% endcompress js %}
{% endblock body %}
