{% load crispy_forms_field bread_tags materializecss_tags %}


{% if field.is_hidden %}
    {{ field }}
{% else %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} class="{% if wrapper_class %}{{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        <!-- label -->
        <label for="{{ field.id_for_label }}">
            {{ field.label|safe }}{% if field.field.required %}<span>*</span>{% endif %}
        </label>

        <!-- field -->
        {% crispy_field field %}

        <!-- help text -->
        {% if field.help_text %}
            <span>{{ field.help_text|safe }}</span>
        {% endif %}

        <!-- errors -->
        {% if form_show_errors and field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% endif %}
