{% load crispy_forms_field bread_tags %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
{# tip: check for more specific fields first, e.g. text_input will match a lot of fields #}
    {% if field|is_dateinput %}
        {% include "carbon_design/fields/date.html" %}
    {% elif field|is_textarea %}
        {% include "carbon_design/fields/text-area.html" %}
    {% elif field|is_select %}
        {% include "carbon_design/fields/select.html" %}
    {% elif field|is_textinput or field|is_password %}
        {% include "carbon_design/fields/text-input.html" %}
    {% else %}
        {{ field }}
    {% endif %}
{% endif %}
