{% extends "carbon_design/base.html" %}
{% load bread_tags crispy_forms_tags  %}

{% block content %}

<div>

    {% if object %}
        <h2>Edit {{ view.admin.verbose_modelname }} <i>{{ object }}</i></h2>
    {% elif form.instance %}
        <h2>Add {{ view.admin.verbose_modelname }}</h2>
    {% endif %}

    {% render_plisplate view.layout %}

</div>

{% endblock content %}


{% block right-panel %}
    {% if view.admin.sidebarfields and object %}
        {% for fieldname, field in view.sidebarfields.items %}
        <div>
            <div>{% pretty_fieldname field %}</div>
            <p>{% render_field object fieldname %}</p>
        </div>
        {% endfor %}
    {% endif %}
{% endblock right-panel %}
