{% load crispy_forms_utils %}

{% specialspaceless %}
    {% if include_media %}{{ form.media }}{% endif %}
    {% if form_show_errors %}
        {% if form.non_field_errors %}
            {% if form_error_title %}{{ form_error_title }}{% endif %}
            <ul>
                {{ form.non_field_errors|unordered_list }}
            </ul>
        {% elif form.errors %}
            There are errors in the form
        {% endif %}
    {% endif %}
    {% for field in form %}
        {% include field_template %}
    {% endfor %}
{% endspecialspaceless %}
