{% load carbon_design_tags %}

<div class="bx--form-item bx--text-input-wrapper{% if field.widget_type == "password" %} bx--password-input-wrapper{% endif %}" {% if field.widget_type == "password" %}data-text-input{% endif %}>
    <label for="{{ field.id_for_label }}" class="bx--label {% if field.field.disabled %} bx--label--disabled{% endif %}">{{ field.field.label }}</label>
    <div class="bx--text-input__field-wrapper" {% if invalid %}data-invalid{% endif %}>
        {% if invalid %}
            {% carbon_icon "WarningFilled" 16 class="bx--text-input__invalid-icon" %}
        {% endif %}
        <input
            id="{{ field.id_for_label }}"
            class="bx--text-input{% if light %} bx--text-input--light{% endif %}{% if invalid %} bx--text-input--invalid{% endif %}{% if field.widget_type == "password" %} bx--password-input{% endif %}"
            {% if field.widget_type == "password" %}data-toggle-password-visibility{% endif %}
            {% if field.field.disabled %}disabled {% endif %}
            type="{{ field.widget_type }}"
            name="{{ field.html_name }}"
            {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
            {% include "django/forms/widgets/attrs.html" with widget=field.field.widget %}
        >
        {# show/hide buttons for password characters #}
        {% if field.widget_type == "password" %}
            <button type="button" class="bx--text-input--password__visibility__toggle bx--tooltip__trigger bx--tooltip--a11y bx--tooltip--bottom bx--tooltip--align-center">
                <span class="bx--assistive-text">Show password</span>
                {% carbon_icon "ViewOff" 32 class="bx--icon--visibility-off" hidden="true" aria_hidden="true" focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" %}
                {% carbon_icon "View" 32 class="bx--icon--visibility-on" focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" %}
            </button>
        {% endif %}
    </div>
    {% if invalid %}
        <div class="bx--form-requirement">{{ validation_message }}</div>
    {% endif %}
    {% if field.field.help_text %}
        <div class="bx--form__helper-text {% if field.field.disabled %} bx--form__helper-text--disabled{% endif %}">{{ field.field.help_text }}</div>
    {% endif %}
</div>
