{% load bread_tags %}

<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} class="">
    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% if group_name %}<optgroup label="{{ group_name }}" class="bx--select-optgroup">{% endif %}
        {% for option in group_choices %}
            {% with option|make_option as carbon_option %}
                <option value="{{ carbon_option.value|stringformat:'s' }}"{% include "django/forms/widgets/attrs.html" with widget=carbon_option %}>{{ carbon_option.label }}</option>
            {% endwith %}
        {% endfor %}
        {% if group_name %}</optgroup>{% endif %}
    {% endfor %}
</select>
