<div class="col s12">
    <div class="{% if field.field.required and form.required_css_class %}{{ form.required_css_class }}{% endif %}">
        <label>
                {{ field }}
                {% if field.auto_id %}
                    <span>{{ field.label }}</span>
                {% endif %}
                {% for error in field.errors %}
                    <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
                {% endfor %}
        </label>
        {% if field.help_text %}
            <p class="help-block">
                {{ field.help_text|safe }}
            </p>
        {% endif %}
    </div>
</div>
