<div class="input-field col s12">
    <select multiple name="{{ field.html_name }}" {% include 'django/forms/widgets/attrs.html' with widget=field.field.widget %} >
        {% for choice in field %}
              {{ choice.tag }}
        {% endfor %}
    </select>
    {% if field.auto_id %}
        <label class="control-label {% if field.field.required %}{{ form.required_css_class }}{% endif %}">{{ field.label }}</label>
    {% endif %}
    {% for error in field.errors %}
        <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
    {% endfor %}
    {% if field.help_text %}
        <p class="help-block">
            {{ field.help_text|safe }}
        </p>
    {% endif %}
</div>
