{% load l10n %}

<div class="input-field col s12">
    <input type="text" id="{{ field.auto_id }}" name="{{ field.html_name }}" class="timepicker" value="{% if field.value %}{% localize off %}{{ field.value }}{% endlocalize %}{% endif %}" {% include 'django/forms/widgets/attrs.html' with widget=field.field.widget %} >
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>

    {% for error in field.errors %}
        <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
    {% endfor %}

    {% if field.help_text %}
    <p class="help-block">
        {{ field.help_text|safe }}
    </p>
    {% endif %}

</div>
