// add some spacing to some elements
.bx--form-item, h1, h2 {
    margin-bottom: 2rem;
}

// specific padding/width for overflow menu columns
// taken from https://the-carbon-components.netlify.app/, might be included in future releases of carbon
.bx--data-table .bx--table-column-menu,
.bx--data-table .bx--table-column-menu:last-of-type {
    width: rem(52px);
    min-width: rem(52px);
    padding-top: $spacing-03;
    padding-right: $spacing-03;
}
