$feature-flags: (
  grid-columns-16: true,
);

// for changing the theme uncomment the following two lines
// @import 'globals/scss/vendor/@carbon/themes/scss/generated/themes';
// $carbon--theme: $carbon--theme--g10;
@import 'globals/scss/styles';

@import 'globals/scss/vendor/@carbon/type/scss/styles';

html, body {
    background-color: $ui-01;
    height: 100%
}

.bx--content {
    background-color: $ui-01;
    padding: $spacing-05;
    > div:nth-child(1) {
        padding: $spacing-05;
        background-color: $ui-background;
    }
    height: 100%
}

// for creating some section borders
.section-separator-top {
    border-top: $ui-01 solid;
}
.section-separator-right {
    border-right: $ui-01 solid;
}
.section-separator-left {
    border-left: $ui-01 solid;
}
.section-separator-bottom {
    border-bottom: $ui-01 solid;
}

// get nicer prints
@media print
{    
    html, body {
        background-color: white !important;
    }
    aside, header, button {
        display: none !important;
    }
    .bx--content {
        margin: 0 !important;
        padding: 0 !important;
    }
}

// map styles from https://www.carbondesignsystem.com/guidelines/typography/productive
// according to our designer to html semantic elements, might change in the future
h3 {
    margin-bottom: $spacing-09;
}
h4 {
    margin-bottom: $spacing-06;
}

// add some spacing to some elements
.bx--form-item {
    margin-bottom: $spacing-07;
}

// specific padding/width for overflow menu columns
// taken from https://the-carbon-components.netlify.app/, might be included in future releases of carbon
.bx--data-table .bx--table-column-menu,
.bx--data-table .bx--table-column-menu:last-of-type {
    width: rem(52px);
    min-width: rem(52px);
    padding-top: $spacing-03;
    padding-right: $spacing-03;
}

// make selects inside grid columns fill width
.bx--col .bx--form-item {
    .bx--select {
        width: 100%;
        max-width: 100%;
        .bx--select-input__wrapper {
            width: 100%;
            max-width: 100%;
            select {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    [data-date-picker] {
        width: 100%;
        max-width: 100%;
        input {
            width: 100%;
            max-width: 100%;
        }
    }
}
