<ul class="tabs">
    {% for section in registry.section_objects.values %}
        {% if section.name %}
            {% url registry.section_url_namespace section=section.name as section_url%}
            <li class="tab">
                <a class="{% if section_url == request.path %}active{% endif %}"target="_self" href="{% if registry.section_url_namespace %}{% url registry.section_url_namespace section=section.name %}{% else %}./{{ section.name }}{% endif %}">
                    {{ section.verbose_name }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
