{% load carbon_design_tags %}
<nav class="bx--breadcrumb bx--breadcrumb--no-trailing-slash" aria-label="breadcrumb">
  {% for items_i in items %}
    <div class="bx--breadcrumb-item">
      {% if items_i.label %}
        <a
          href="#"
          class="bx--link"
          {% if items_i.current %}aria-current="page"{% endif %}
        >
            {{ items_i.label }}
        </a>
      {% endif %}
    </div>
  {% endfor %}
</nav>

<nav class="bx--breadcrumb bx--breadcrumb--no-trailing-slash" aria-label="breadcrumb">
  {% for items_i in items %}
    <div class="bx--breadcrumb-item {% if items_i.current %}bx--breadcrumb-item--current{% endif %}">
      {% if items_i.label %}
        <a href="#" class="bx--link">
          {{ items_i.label }}
        </a>
      {% endif %}
    </div>
  {% endfor %}
</nav>


{% comment %}
Original handlebar template:

<nav class="{{@root.prefix}}--breadcrumb {{@root.prefix}}--breadcrumb--no-trailing-slash" aria-label="breadcrumb">
  {{#each items}}
    <div class="{{@root.prefix}}--breadcrumb-item">
      {{#if label}}
        <a
          href="#"
          class="{{@root.prefix}}--link"
          {{#if current}}aria-current="page"{{/if}}
        >
            {{label}}
        </a>
      {{/if}}
    </div>
  {{/each}}
</nav>

<nav class="{{@root.prefix}}--breadcrumb {{@root.prefix}}--breadcrumb--no-trailing-slash" aria-label="breadcrumb">
  {{#each items}}
    <div class="{{@root.prefix}}--breadcrumb-item {{#if current}}{{@root.prefix}}--breadcrumb-item--current{{/if}}">
      {{#if label}}
        <a href="#" class="{{@root.prefix}}--link">
          {{label}}
        </a>
      {{/if}}
    </div>
  {{/each}}
</nav>

{% endcomment %}