{% load static compress bread_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}{% pagename request %}{% endblock %}</title>
        <meta name="description" content="{% block page_description %}{% endblock%}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
        {% block favicon %}<link rel="shortcut icon" href="{% static "favicon.png" %}"/>{% endblock %}

        {% block stylesheets %}
        {% endblock %}

        {# always included scripts: #}
        {% compress js %}
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bliss.min.js" %}"></script>
        {% endcompress js %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% endblock body %}
    </body>

</html>
