{% extends TEMPLATE_PACK_BASE %}
{% load bread_tags %}

{% block content %}

    {% list_delete_protection object as delete_protection %}
    {% if delete_protection %}
        <h4><em>{{ object }}</em> cannot be deleted because of the following related objects:</h4>
        <ul class="collection with-header">
            {% for objectlist in delete_protection %}
                {% if objectlist %}
                    <li class="collection-header" ><b>{% pretty_modelname objectlist.model True %}</b></li>
                    {% for object in objectlist %}
                        <li class="collection-item">{{ object|format_value }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% list_delete_cascade object as delete_cascade %}
            {% if delete_cascade %}
                <h4>The following objects will be deleted too:</h4>
                <ul class="collection with-header">
                    {% for objectlist in delete_cascade %}
                        {% if objectlist %}
                            <li class="collection-header" ><b>{% pretty_modelname objectlist.model True %}</b></li>
                            {% for object in objectlist %}
                                <li class="collection-item">{{ object|format_value }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <p>Are you sure you want to delete <em>{{ object }}</em>?</p>
            <input class="btn" type="submit" value="Yes, delete">
        </form>
    {% endif %}

{% endblock content %}
