{% extends "bread/base.html" %}
{% load bread_tags crispy_forms_tags  %}


{% block content %}
<div style="overflow: hidden"> <!-- necessary in order to make the container have the correct height (because we use float-positioning) -->
    {% if object %}
        <h2>Update {{ view.admin.verbose_modelname }} <i>{{ object }}</i></h2>
    {% elif form.instance %}
        <h2>Add {{ view.admin.verbose_modelname }}</h2>
        <!-- try to prevent browser auto-fill -->
        <script>document.addEventListener("DOMContentLoaded", e => $$("form").forEach(form => form.reset()))</script>
    {% endif %}
    {% crispy form %}
</div>
{% endblock content %}
