{% extends "bread/base.html" %}
{% load bread_tags %}

{% block content %}

<h1>Datamodel</h1>

<div style="display: flex">
    <div style="padding: 1rem">
        <ul>
        {% for app in apps %}
            <li><a href="{% updated_querystring "app" app.label %}">{{ app.verbose_name }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div style="flex-grow: 999; padding: 1rem">
        <a href="{% updated_querystring "download" 1%}" target="_blank">View large</a>
        {{ datamodel|safe }}
    </div>
</div>

{% endblock content %}
