{% extends TEMPLATE_PACK_BASE %}
{% load bread_tags %}

{% block content %}
    <h2>{{ view.admin.verbose_modelname }} <i>{{ object }}</i></h2>

    {% crispy_html view.layout %}

    <div class="right">
        {% include "bread/object_actions.html" %}
    </div>
    <script>
        var elems = document.querySelectorAll('.custom-dropdown-trigger');
        M.Dropdown.init(elems, {constrainWidth: false, alignment: "right"});
    </script>
{% endblock content %}

{% block right-panel %}
    {% if view.sidebarfields %}
        <div class="right-panel">
            <div class="card">
                <div class="card-content">
                    {% for fieldname, field in view.sidebarfields.items %}
                        <div class="card-title">{% pretty_fieldname field %}</div>
                        <p>{% render_field object fieldname %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock right-panel %}
