{% extends "bread/base.html" %}
{% load bread_tags %}

{% block content %}
    <h2>{{ view.admin.verbose_modelname }} <i>{{ object }}</i></h2>

    <table>
    {% for field, prettyname in view.field_values %}
        <tr>
            <td style="vertical-align: top">{{ prettyname }}</td>
            <td style="float: left">{% render_field object field %}</td>
        </tr>
    {% endfor %}
    </table>

    <div class="right">
        {% include "bread/object_actions.html" %}
    </div>
    <script>
        var elems = document.querySelectorAll('.custom-dropdown-trigger');
        M.Dropdown.init(elems, {constrainWidth: false, alignment: "right"});
    </script>
{% endblock content %}

{% block right-panel %}
    {% if view.sidebarfields %}
        <div class="right-panel">
            <div class="card">
                <div class="card-content">
                    {% for field in view.sidebarfields %}
                        <div class="card-title">Notes</div>
                        <p>{% render_field object field %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock right-panel %}
