{% load bread_tags %}

<div class="card-panel col s12">
<h5>
{% if formset.max_num > 1 %}
    {% pretty_modelname formset.model True %}
{% else %}
    {% pretty_modelname formset.model %}
{% endif %}
</h5>

<table id="formset_{{ formset.prefix }}_table">
    {{ formset.management_form }}

    {% if form.non_field_errors %}
        <blockquote>
            {% for non_field_error in form.non_field_errors %}
                 {{ non_field_error }}
            {% endfor %}
        </blockquote>
    {% endif %}

    {% for form in formset.forms %}
        <tr>
            {% for field in form.visible_fields %}
            <td style="padding: 1px">
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endif %}
                {{ field|materializecss }}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td>
                <a id="add_{{ formset.prefix }}_button" class="btn waves-effect" onclick="formset_{{ formset.prefix }}_add();">Add {% pretty_modelname formset.model %}</a>
            </td>
        </tr>
    </tfoot>
</table>
<div id="empty_{{ formset.prefix }}_form" style="display:none;" class="template-form">
    <table>
        <tr>
            {% for field in formset.empty_form.visible_fields %}
                <td>
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field|materializecss }}
                </td>
            {% endfor %}
        </tr>
    </table>
</div>

<script>
    // TODO: refactoring: make functions generic (not formset.prefix depending)
    // TODO: maybe move to external javascript
    // TODO: maybe use bliss
    // TODO: nicer "remove" functionality (disable fields and gray out, or hide column)
    function enable_materialize_newform(form) {
        var m_input_fields = form.getElementsByClassName("input-field");
        for(var j = 0; j < m_input_fields.length; ++j) {
            m_input_fields[j].firstElementChild.classList.remove('no-autoinit');
        }
        M.AutoInit(form);
        M.Datepicker.init(form.querySelectorAll('.datepicker'), {format: 'yyyy-mm-dd', showClearBtn: true, autoClose: true});
    }
    function init_{{ formset.prefix }}_formset() {
        var m_input_fields  = $$('#empty_{{ formset.prefix }}_form .input-field')
        for(var j = 0; j < m_input_fields.length; ++j) {
            m_input_fields[j].firstElementChild.classList.add('no-autoinit');
        }
        show_add_{{ formset.prefix }}_button();
    }
    function show_add_{{ formset.prefix }}_button() {
        var formcount = $('#id_{{ formset.prefix }}-TOTAL_FORMS')
        var maxforms = $('#id_{{ formset.prefix }}-MAX_NUM_FORMS')
        var addbutton = $('#add_{{ formset.prefix }}_button')
        addbutton.style.display = "inline-block";
        if(parseInt(formcount.value) >= parseInt(maxforms.value)) {
            addbutton.style.display = "none";
        }
    }
    function formset_{{ formset.prefix }}_add() {
        var formcount = $('#id_{{ formset.prefix }}-TOTAL_FORMS')
        var newElementStr = $('#empty_{{ formset.prefix }}_form').innerHTML.replace(/__prefix__/g, formcount.value)
		var newElem = new DOMParser().parseFromString(newElementStr, "text/html").getElementsByTagName('tr')[0];

        $('#formset_{{ formset.prefix }}_table tbody').appendChild(newElem);
        formcount.value = parseInt(formcount.value) + 1;
        enable_materialize_newform(newElem);
        M.AutoInit(newElem);
        show_add_{{ formset.prefix }}_button();
    }
    function formset_{{ formset.prefix }}_remove() {
    }
    document.addEventListener("DOMContentLoaded", e => init_{{ formset.prefix }}_formset());
</script>
</div>
