{% load bread_tags %}

<h2>{{ view.admin.verbose_modelname_plural }}

{% has_permission request.user "add" view.model as can_add %}
{% if can_add %}
    <div class="right">
        <a class="btn-floating btn-large waves-effect" href="{% createurl view.model %}"><i class="large material-icons">add</i></a>
    </div>
{% endif %}
</h2>

<table class="responsive-table striped highlight">
    {% if not hide_heading %}
        <thead>
            <tr>
                <th></th>
                {% for field in view.modelfields.values %}
                    <th>
                        {% if request and field.sortable != False %}
                            {% querystring_order view.admin request.GET.order field.name as new_order_string %}
                            <a href="{% updated_querystring "order" new_order_string %}">
                                {% fieldname field %}
                                {% if field.name in request.GET.order %}
                                    <i class="material-icons tiny">keyboard_arrow_down</i>
                                {% elif '-'|add:field.name in request.GET.order %}
                                    <i class="material-icons tiny">keyboard_arrow_up</i>
                                {% endif %}
                            </a>
                        {% else %}
                            {% fieldname field %}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
    {% endif %}
    <tbody>
        <tr style="font-style: italic">
            <td>{{object_list|length}} {{ view.admin.verbose_modelname_plural }}</td>
            {% for field in view.modelfields %}
                <td>{% render_field_aggregation view.admin object_list field %}</td>
            {% endfor %}
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{% include "bread/object_actions.html" %}</td>
                {% for field in view.modelfields %}
                    <td>{% render_field view.admin object field %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <script>
            // used in bread/object_actions.html
            var elems = document.querySelectorAll('.custom-dropdown-trigger');
            M.Dropdown.init(elems, {constrainWidth: false});
        </script>
    </tbody>
</table>
