{% load bread_tags %}

<table class="responsive-table striped highlight">
    {% if not hide_heading %}
        <thead>
            <tr>
                <th></th>
                {% for field, prettyname in view.sortnames %}
                    <th>
                        {% if field %}
                            {% querystring_order view.admin request.GET.order field as new_order_string %}
                            <a href="{% updated_querystring "order" new_order_string %}">
                                {{ prettyname }}
                                {% if '-'|add:field in request.GET.order %}
                                    <i class="material-icons tiny">keyboard_arrow_up</i>
                                {% elif field in request.GET.order %}
                                    <i class="material-icons tiny">keyboard_arrow_down</i>
                                {% endif %}
                            </a>
                        {% else %}
                            {{ prettyname }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
    {% endif %}
    <tbody>
        <tr style="font-style: italic">
            <td>
                {{ object_list|length }} {{ view.admin.verbose_modelname_plural }}
                {% if page_obj.paginator %}of {{page_obj.paginator.count }}{% endif %}
            </td>
            {% for field in view.fields %}
                <td>{% render_field_aggregation view.admin object_list field %}</td>
            {% endfor %}
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{% include "bread/object_actions.html" %}</td>
                {% for field in view.fields %}
                    <td>{% render_field view.admin object field %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
