{% extends "bread/base.html" %}
{% load bread_tags %}

{% block content %}
    {% include "bread/list_actions.html" %}
    {% include "bread/inline_list.html" %}
    <script>
        var elems = document.querySelectorAll('.custom-dropdown-trigger');
        M.Dropdown.init(elems, {constrainWidth: false});
    </script>
{% endblock %}

{% block right-panel %}
    <div class="right-panel">
        <div class="card">
            <div class="card-content">
            <form>
                {{ filter.form|materializecss }}
                <button class="btn waves-effect waves-light" type="submit" name="action">Filter
                    <i class="material-icons right">search</i>
                </button>
            </form>
            </div>
        </div>
    </div>
{% endblock right-panel %}
