{% extends "bread/base.html" %}
{% load bread_tags crispy_forms_tags %}

{% block content %}
    {% include "bread/list_actions.html" %}
    {% include "bread/inline_list.html" %}
    {% add_action view.admin request as action %}
    {% if action %}
        <a href={{ action.url }} class="btn-floating btn-large" style="float: right; position: sticky; bottom: 1rem"><i class="material-icons">{{ action.icon }}</i>{{ action.label }}</a>
    {% endif %}
    <script>
        var elems = document.querySelectorAll('.custom-dropdown-trigger');
        M.Dropdown.init(elems, {constrainWidth: false});
    </script>
{% endblock %}

{% block right-panel %}
    <div class="right-panel">
        <div class="card">
            <div class="card-content">
            <form>
                {% crispy filter.form %}
            </form>
            </div>
        </div>
    </div>
{% endblock right-panel %}
