name: basxconnect-ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # django 3.2
          - python-version: "3.7"
            django-version: "Django>=3.2,<4.0"
          - python-version: "3.8"
            django-version: "Django>=3.2,<4.0"
          - python-version: "3.9"
            django-version: "Django>=3.2,<4.0"
          - python-version: "3.10"
            django-version: "Django>=3.2,<4.0"
          - python-version: "3.11"
            django-version: "Django>=3.2,<4.0"
          # django 4.0
          - python-version: "3.8"
            django-version: "Django>=4.0"
          - python-version: "3.9"
            django-version: "Django>=4.0"
          - python-version: "3.10"
            django-version: "Django>=4.0"
          - python-version: "3.11"
            django-version: "Django>=4.0"
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade "${{ matrix.django-version }}"
        pip install --upgrade flake8 flake8-black pytest pytest-custom_exit_code black isort bandit safety mypy types-setuptools types-python-dateutil types-requests types-backports setuptools
        pip install --upgrade -e .[all]

    - name: Lint with flake8
      run: flake8 . 

    - name: Run black --check .
      run: black --check .

    - name: Run isort --check-only .
      run: isort --check-only --profile=black .

    - name: Run bandit
      run: bandit -c .bandit -r . 

    - name: Run Safety
      run: safety check

    - name: Test with pytest
      run: ./manage.py test

    - name: Check types
      run: mypy --install-types --non-interactive basxbread
